html {
  background-color: lavender;
}
.container {
  font-family: 'DynaPuff', cursive;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  /* width: 100%; */
  align-items: center;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}
.form-container input {
  /* width: 100%; */
  font-size: 25px;
  border-radius: 15px;
  padding: 5px;

  text-align: center;
  
}
.form-container textarea {
  /* width: inherit; */
  font-size: 15px;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
}

.form-container button {
  font-size: large;
  margin-top: 1.5rem;
  outline: none;  
  padding: 0.5rem 1rem;

}
.notes-container {
  width: 70%;
  margin: 2.5rem;
  
}
.notes-container article {
  font-family: 'Courier New', Courier, monospace;
  border: 3px solid lightblue;
  border-radius: 44px;
  margin-top: 2rem;
  padding: 15px 25px;
  background-color: azure;
}
.notes-content {
  font-size: 20px;
  margin-top:0.5rem;
}
.notes-container span {
  font-size: 15px;
  font-weight: bold;
}